@font-face {
    font-family: 'museo_sans900';
    src: url('../fonts/museo-sans-900-5926f88205a9f-webfont.woff2') format('woff2'),
         url('../fonts/museo-sans-900-5926f88205a9f-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
	margin: 0;
}
h1, h2, p, b, a{
	text-decoration: none;
	color: white;
	font-size: 18px;
	font-weight: bold;
}
.wrapper{
	max-width: 100%;
	margin:0px auto;
	background-color: #95c11f;
}
.logo {
	float: left;
	margin: 0;
	border-radius: 50%;
	background-color: black;
	display: flex;
}
.logo img {
	justify-content: center;
	height: 50px;
	padding: 30px;
}
.container-header {
	text-align: right;
	padding: 12px;
	font-family: 'Libre Baskerville';
	font-size: 30px;
	height: auto;
    width: 1024px;
    margin: 0 auto;
}
.container-header ul li{
	display: inline-block;
	margin: 0;
	padding: 10px 20px;
	list-style: none;
}
.icon-wrapper {
	width: 100%;
	text-align: center;
}
.hero {
	width: 100%;
	height: 450px;
	background: url(../images/quays.jpg) no-repeat 70% 32%;
	position: relative;
	background-size: 100%;
	display: table;
}
.hero h1{
	font-family: 'museo_sans900';
	z-index: 1;
	color: #feed00;
	text-align: center;
	padding-top: 140px;
    font-size: 42px;
    text-shadow: 1px 1px 10px #000;
}
.hero p {
	font-family: 'museo_sans900'
	text-shadow: 1px 1px 10px #000;
	font-size: 30px;
	text-align: center;
}
.hero:after{
	content: "";
	height: 100%;
	width: 100%;
	top:0;
	left: 0;
	position: absolute;
	display: block;
	background: rgba(0, 0, 0, 0.11);
}
.text-section {
	width: 100%;
	text-align: center;
	padding: 200px 0 55px 0;
	background: #95c11f;
}
.click-sec a {
	width: 100%;
	display: inline-block;
	padding: 20px 0;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	background-color: black;
	letter-spacing: 3px;
	text-align: center;
}