@font-face {
    font-family: 'museo_sans900';
    src: url('../fonts/museo-sans-900-5926f88205a9f-webfont.woff2') format('woff2'),
         url('../fonts/museo-sans-900-5926f88205a9f-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	margin: 0;
	font-family: 'Libre Baskerville';
	font-size: 18px;
}
h1, h2, p, b, a{
	text-decoration: none;
	color: white;
	font-size: 18px;
	font-weight: bold;
}
.wrapper{
	max-width: 100%;
	margin:0px auto;
	background-color: #5CB7A0;
}
.logo {
	float: left;
	margin: 0;
	border-radius: 50%;
	background-color: black;
	display: flex;
}
.logo img {
	justify-content: center;
	height: 50px;
	padding: 30px;
}
.container-header {
	text-align: right;
	padding: 12px;
	font-family: 'Libre Baskerville';
	font-size: 30px;
	height: auto;
    width: 1024px;
    margin: 0 auto;
}
.container-header ul li{
	display: inline-block;
	margin: 0;
	padding: 10px 20px;
	list-style: none;
}
.icon-wrapper {
	width: 100%;
	text-align: center;
	color: black;
}
.hero {
	width: 100%;
	height: 450px;
	background: url(../images/cleaning_spray.jpg) no-repeat 70% 32%;
	position: relative;
	background-size: 100%;
	display: table;
}
.hero h1 {
	font-family: 'museo_sans900';
	z-index: 1;
	color: #feed00;
	text-align: center;
	padding-top: 140px;
    font-size: 42px;
    text-shadow: 1px 1px 10px #000;
}
.hero p {
	font-family: 'museo_sans900'
	text-shadow: 1px 1px 10px #000;
	font-size: 30px;
	text-align: center;
}
.hero:after{
	content: "";
	height: 100%;
	width: 100%;
	top:0;
	left: 0;
	position: absolute;
	display: block;
	background: rgba(0, 0, 0, 0.11);
}
.text-section {
	width: 100%;
	text-align: center;
	padding: 200px 0 55px 0;
	background: black;
}
.three-icons {
	width: 100%;
    padding-top: 100px;
}
.process_txt p {
	background-color: black;
}
.three-icons {
	width: 100%;
    display: flex;
    text-align: center;
    position: relative;
    justify-content: space-between;
    max-width: 1024px;
    margin: 0px auto;
}
.three-icons p{
	color: black;
	text-align: center;
    width: 70%;
    padding: 0 15%;
    margin-bottom: 60px;
}
.services {
	width: 50%
}
.font-msg {
	font-family: 'museo_sans900';
	z-index: 1;
	color: #feed00;
	text-align: center;
	padding-top: 12px;
    font-size: 42px;
    text-shadow: 1px 1px 10px #000;
}
.info-wrapper {
	width: 100%;
	background-color: #5CB7A0;
	font-family: 'Libre Baskerville';
    width: 70%;
    padding: 5% 15%;
}
.info-wrapper p {
	color: black;
	text-align: center;
 }
 .whyus {
 	list-style-type: none;
 	text-align: center;
 	text-align: center;
 	line-height: 2.5em;
 	color: black;
 	font-weight: bold;
 }
 .whyus li {
 	text-align: center;
 	line-height: 2.0em;
 	color: black;
 }
.choose-us {
	text-align: center;
}
.choose-us h3 {
	font-size: 45px;
}
.footer {
	width: 100%;
	height: auto;
	background-color: black;
	padding: 10px;
}
.trust-icons {
	flex-direction: row;
	width: 35%;
	display: flex;
	justify-content: flex-end;
	padding: 20px;
	align-content: space-between;
	float: left;
	margin-right: 15%
}
.trust-icons a{
	display: inline-block;
	padding: 20px;
	box-sizing: inherit;
	background-color: white;
	border-radius: 5px;
	height: 30px;
	margin: 10px;
    margin-bottom: 0;
}
.trust-icons .twitter {
	background-color: #24a9e6;
}
.trust-icons .facebook {
	background-color: #43619c;
}

.footer-nav ul li {
	list-style: none;
}

.footer-nav ul li a{
	font-size:12px;
	display: flex;
	line-height: 2.08em;
	text-decoration: underline;
}
.footer-wrapper {
	display: flex;
}
.footer-navigation {
	display: inline-table;
	height: 30px;
	margin: 10px;
}
.footer-nav {
	width: 37%;
    margin-left: 13%;
}