@font-face {
    font-family: 'museo_sans900';
    src: url('../fonts/museo-sans-900-5926f88205a9f-webfont.woff2') format('woff2'),
         url('../fonts/museo-sans-900-5926f88205a9f-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	margin: 0;
	font-family: 'Libre Baskerville';
	font-size: 14px;
}
h1, h2, p, b, a{
	text-decoration: none;
	color: white;
	font-size: 14px;
	font-weight: normal;
}
.wrapper{
	max-width: 100%;
	margin:0px auto;
	background-color: #5CB7A0;
}
.about-wrapper {
	max-width: 100%;
	margin:0px auto;
}
.logo {
	float: left;
	margin: 0;
	border-radius: 50%;
	display: flex;
	background:#000;
}
.logo img {
	justify-content: center;
	height: 50px;
	padding: 30px;
}
.container-header {
	text-align: right;
	padding: 12px;
	font-family: 'Libre Baskerville';
	font-size: 30px;
	height: auto;
    width: 1024px;
    margin: 0 auto;
}
.container-header ul li{
	display: inline-block;
	margin: 0;
	padding: 10px 20px;
	list-style: none;
}
.icon-wrapper {
	width: 100%;
	text-align: center;
	color: black;
}
.hero {
	width: 100%;
	height: 450px;
	background: url(../images/cleaning_spray.jpg) no-repeat 70% 32%;
	position: relative;
	background-size: 100%;
	display: table;
}
.hero h1 {
	font-family: 'museo_sans900';
	z-index: 1;
	color: #fffef6;
	text-align: center;
	padding-top: 140px;
    font-size: 42px;
    text-shadow: 1px 1px 10px #000;
    position: relative;
}
.hero p {
	font-family: 'museo_sans900'
	text-shadow: 1px 1px 10px #000;
	font-size: 30px;
	text-align: center;
	position: relative;
}
.hero:after{
	content: "";
	height: 100%;
	width: 100%;
	top:0;
	left: 0;
	position: absolute;
	display: block;
	background: rgba(16, 15, 15, 0.5);
}
.text-section {
	width: 100%;
	text-align: center;
	padding: 200px 0 55px 0;
	background: black;
}
.three-icons {
	width: 100%;
    padding-top: 100px;
}
.process_txt p {
	background-color: black;
}
.three-icons {
	width: 100%;
    display: flex;
    text-align: center;
    position: relative;
    justify-content: space-between;
    max-width: 1024px;
    margin: 0px auto;
}
.three-icons p{
	color: black;
	text-align: center;
    width: 70%;
    padding: 0 15%;
    margin-bottom: 60px;
}
.services {
	width: 50%
}
.font-msg {
	font-family: 'museo_sans900';
	z-index: 1;
	color: #ecece5;
	text-align: center;
	padding-top: 12px;
    font-size: 42px;
    text-shadow: 1px 1px 10px #000;
}
.info-wrapper {
	width: 100%;
	background-color: #5CB7A0;
	font-family: 'Libre Baskerville';
    width: 70%;
    padding: 5% 15%;
}
.info-wrapper p {
	color: black;
	text-align: center;
 }
 .whyus {
 	list-style-type: none;
 	text-align: center;
 	text-align: center;
 	line-height: 2.5em;
 	color: black;
 	font-weight: normal;
 }
 .whyus li {
 	text-align: center;
 	line-height: 2.0em;
 	color: black;
 }
.choose-us {
	text-align: center;
}
.choose-us h3 {
	font-size: 45px;
}
.footer {
	width: 100%;
	height: auto;
	background-color: black;
	padding: 10px 0;
	float: left;
}
.trust-icons {
	flex-direction: row;
	width: 35%;
	display: flex;
	justify-content: flex-end;
	align-content: space-between;
	float: left;
	margin-right: 15%
}
.trust-icons a{
	display: inline-block;
	padding: 20px;
	box-sizing: inherit;
	background-color: white;
	border-radius: 5px;
	height: 30px;
	margin: 10px;
    margin-bottom: 0;
    display: flex;
}
.trust-icons a img{
	max-height: 26px;
}
.trust-icons .twitter {
	background-color: #24a9e6;
}
.trust-icons .facebook {
	background-color: #43619c;
}
.footer-nav ul{
	width: 100%;
}
.footer-nav ul li {
	list-style: none;
	width:50%;
	float: left;
}
.footer-nav ul li a{
	font-size:12px;
	display: flex;
	line-height: 2.08em;
	text-decoration: underline;
}
.footer-wrapper {
	display: flex;
}
.footer-navigation {
	display: inline-table;
	height: 30px;
	margin: 10px;
}
.footer-nav {
	width: 37%;
    margin-left: 13%;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
| About Page													|
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.hero {
	width: 100%;
	height: 450px;
	background: url(../images/hand-stove.jpg) no-repeat 70% 32%;
	position: relative;
	background-size: 100%;
}
.about-wrapper .container {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.about-content {
	width: 100%;
	background-color: white;
}
.about-content h2 {
	text-align: center;
	font-size: 70px;
	color: black;
	margin: 0;
}
.about-content .flex {
	display: flex;
	justify-content: space-between;
}
.about-content .flex div{
	padding: 20px;
}
p {
    color: #000;
}
.hero-2 {
	height: 450px;
	background: url(../images/clean-space.jpg) no-repeat;
	background-size: 100%;
    background-position: center;
}
.about-content div:nth-child(4) {
	background-color: #5CB7A0;
}
br {
 	line-height: 2.0em;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
| Office Cleaning Page													|
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.office-clean img {
	width: 100%;
	height: 450px;
	background: url(../images/office-clean.jpg) no-repeat 70% 32%;
	position: relative;
}


.domestic-content {
	float: left;
	width: 50%;
	text-align: center;
	list-style: none;
	margin-top: 30px;
}
.boardroom img {
	float: right;
	width: 50%;
	height: 20%;
}
.vac-carpet img {
	float: left;
	width: 50%;
	clear: both;

}
.domestic-content ul {
	list-style-type: none;
	line-height: 2.0em;
}
.domestic-content p {
	padding: 5px;
}
.our-work {
	width: 50%;
	padding: 0;
	text-align: center;
	list-style: none;
	margin-top: 30px;
	float: left;
}
.trust-banner {
	width: 100%;
	text-align: center;
	background-color: #edf1f5;
	float: left;
	padding: 20px 0;
	letter-spacing: 170px;
	height: auto;
}
.our-work p {
	padding: 20px;
	line-height: 21px;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
| Domestic Cleaning Page													|
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.domestic-clean img {
	width: 100%;
	height: 450px;
	background: url(../images/living-room.jpg) no-repeat 70% 32%;
	position: relative;
}


























/*Tablet*/
@media only screen and (max-width: 768px) {

}

/*Mobile*/
@media only screen and (max-width: 425px) {
	.container-header{
	width: 45%;
    display: block;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
	}
	.three-icons{
		flex-direction: column;
	}
	.logo{
		margin: 15px;
	}
	.hero p {
		margin: 10px;
	}
	.trust-icons {
		flex-direction: column;
		display: inline-grid;
	}
	.footer-nav ul {
		width: 109%;
	}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
| About Page													|
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
	
	.trust-icons {
		flex-direction: column;
		display: inline-grid;
	}
	.footer-nav ul {
		width: 109%;
	}

}
